@import "../../Styles/main.scss";

.Projects {
  h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--text-color2);
    margin-bottom: $gap-size;
  }

  .Projects-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: $gap-size;
    justify-content: center;
  }
}