@import "../../Styles/main.scss";

.Project {
  background-color: var(--color-nav);
  border-radius: $border-radius;
  box-shadow: 0 4px 8px var(--modal-shadow-color);
  overflow: hidden;
  width: calc(50% - #{$gap-size});
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }

  .project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .project-content {
    padding: 15px;
    color: var(--text-color);

    h3 {
      color: var(--text-color2);
      margin-bottom: 10px;
      font-size: 1.25rem;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 15px;
    }

    .status {
      color: orange;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
        margin-top: 5px;
        transition: color 0.3s ease;
        width: fit-content;

        &:hover {
          color: var(--link-color-ligth);
        }
      }
    }
  }

  // Media queries para diseño responsivo
  @media (max-width: 768px) {
    .project {
      width: 100%;
    }

    .project-content {
      padding: 10px;

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.75rem;
      }

      a {
        font-size: 0.875rem;
      }
    }
  }
}

/* Estilos para los detalles del proyecto */
.project-details.modal {
  background: var(--color-nav);
  color: var(--text-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px var(--modal-shadow-color);
  width: 60%;
  max-width: 900px;
  position: relative;
  max-height: 700px;
  overflow-y: auto;
  margin: 20px auto;

  /* Estilos de la barra de desplazamiento */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--modal-background-dark);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 2px solid var(--modal-background);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--primary-color-light);
    }
  }

  h3 {
    margin: 0 0 20px;
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color2);
    border-bottom: 2px solid var(--text-color2);
    padding-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-light);
    margin-bottom: 20px;
  }

  .technologies {
    margin-top: 20px;

    h4 {
      color: var(--text-color2);
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--text-color2);
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      li {
        text-shadow: 0 0 1px var(--primary-color), 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 0px var(--primary-color), 0 0 5px var(--primary-color);
        background: var(--tech-background-color);
        color: var(--text-color2);
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .additional-links {
    margin-top: 30px;

    h4 {
      color: var(--text-color2);
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--text-color2);
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: var(--link-color);
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s ease;

          &:hover {
            // color: lighten(var(--link-color), 20%);
            text-decoration: underline;
          }
        }
      }
    }
  }

  .modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    color: var(--text-color);
    font-size: 28px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #ff6f61;
    }
  }
}