// Tamaños y Dimensiones
$container-size: 600px;
$circle-size-frontend: 125px;
$circle-size-backend: 225px;
$gap-size: 20px;
$border-radius: 10px;

// Animaciones
$animation-duration: 10s;

// Elementos (Cantidad o Cantidad de Elementos)
$elementos-backend: 6;
$elementos-frontend: 4;

$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$padding-base: 10px 20px;

$tablet: 768px;
$desktop: 1024px;
$desktop--large: 1280px;