@import "../../Styles/Variables/colors.scss";

@keyframes backgroundChange {
    0% {
        background-image: url('../../Assets/Web1.png');
    }

    25% {
        background-image: url('../../Assets/Web1.png');
    }

    50% {
        background-image: url('../../Assets/Web2.png');
    }

    75% {
        background-image: url('../../Assets/Web2.png');
    }

    100% {
        background-image: url('../../Assets/Web1.png');
    }
}

// Estilos globales
body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-color;
    background-color: $color-primario;
}

h1,
h2,
h3 {
    color: $primary-color;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// Contenedor del portafolio
.Home {
    .section {
        scroll-margin-top: calc(10vh);
    }

    .home-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: $padding-base;
    }

    .welcome {
        margin-bottom: 40px;
        padding: $padding-base;
        background-color: $color-nav;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 70%; // Establece el ancho al 60% de la pantalla
        max-width: 1000px; // Limita el ancho máximo
        margin: 0 auto; // Centra horizontalmente
        aspect-ratio: 16/9;
        background: url('../../Assets/Web1.png') no-repeat center center;
        background-size: cover;
        align-items: center;
        display: flex;
        justify-content: center; // Centra el contenido dentro de la sección
        animation: backgroundChange 10s infinite;
        box-shadow: 0px 3px 10px $secondary-color;

        .welcome-content {
            background-color: rgba(0, 0, 0, 0.8); // Fondo oscuro semitransparente para texto
            padding: 30px;
            border-radius: 5px;
            color: #fff;
            margin-left: 20px; // Separación del borde izquierdo
            // text-align: center; // Centra el texto

            h1 {
                margin: 0;
                font-size: 2em; // Reduce el tamaño de fuente
                line-height: 1.2; // Ajusta el espaciado entre líneas
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            }

            p {
                margin: 10px 0 0 0;
                font-size: 1em; // Ajusta el tamaño de la fuente del párrafo
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
            }
        }
    }
}


@media (max-width: 768px) {

    .Portafolio {
        .welcome {
            width: 70%;
            max-width: 1000px;

            .welcome-content {
                padding: 10px;

                h1 {
                    font-size: 1.5em;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }
    }
}




@media (max-width: 480px) {
    .Portafolio {
        .welcome {
            width: 70%;
            // aspect-ratio: 4/3;
            max-width: 1000px;

            .welcome-content {
                padding: 10px;

                h1 {
                    font-size: 1em;
                }

                p {
                    font-size: 0.77em;
                }
            }
        }
    }
}