// Colores Primarios y Secundarios
$color-primario: #111111;
$color-secundario: #ffffff;

// Colores de Navegación
$color-nav: #171d25;
$color-nav-box: rgba(200, 38, 209, 0.5);
$color-nav-box2: rgba(102, 8, 226, 0.5);

// Colores de Fondo
$color-background: rgba(0, 0, 0, 0.7);

// Colores de Componentes
$primary-color: #1abc9c;
$secondary-color: #2c3e50;
$text-color: #fff;
$text-color2: #00faa7;
$link-color: #42aff8;
$card-background-color: #34495e;
$modal-background: #2c3e50;
$strong-text-color: #92fce7;
$modal-shadow-color: rgba(0, 0, 0, 0.8);
$tech-background-color: #355370;

// Tamaños y Dimensiones
$container-size: 600px;
$circle-size-frontend: 125px;
$circle-size-backend: 225px;
$gap-size: 20px;
$border-radius: 10px;

// Animaciones
$animation-duration: 10s;

// Elementos (Cantidad o Cantidad de Elementos)
$elementos-backend: 6;
$elementos-frontend: 4;

$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$padding-base: 10px 20px;